@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --clr-bright-orange: hsl(31, 77%, 52%);
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-very-dark-cyan: hsl(179, 100%, 13%);
    --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-very-light-gray: hsl(0, 0%, 95%);

    --ff-lexend-deca: 'Lexend Deca', sans-serif;
    --ff-big-shoulders-display: 'Big Shoulders Display', cursive;

}

body {
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.padding {
    padding: 3.5rem 2.5rem;
}


.car__title {
    font-family: var(--ff-big-shoulders-display);
    font-size: 3rem;
    color: var(--clr-very-light-gray);
    text-transform: uppercase;
    
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.car__description {
    max-width: 220px;
    max-height: 184px;
    font-family: var(--ff-lexend-deca);
    font-size: 1rem;
    color: var(--clr-transparent-white);
    margin-bottom: 1.75rem;
    line-height: 1.5rem;
}

.button {
    display: block;
    border-radius: 24px;
    font-family: var(--ff-lexend-deca);
    background-color: var(--clr-very-light-gray);
    margin-top: 1.75rem;
    width: 150px;
    padding: 1rem;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .car__description {
        padding-bottom: 4rem;
    }
}


@media screen and (min-width: 1440px) {
    .car__description {
        margin-bottom: 4rem;
    }
}



